@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
}
::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}

body {
  @apply antialiased text-white bg-gradient-to-br from-gray-900 to-gray-800 min-h-screen font-sans;
}
